body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(168, 111, 92);
  height: 100vh;
  font-family: "Jua", sans-serif;
  color: white;
}

.calculator {
  width: fit-content;
  border: 1px solid whitesmoke;
  background-color: rgb(139, 0, 0);
  padding: 5px;
}

.calculator h2 {
  text-align: center;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.calculator h5 {
  text-align: center;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}

.calculator form {
  display: grid;
  grid-template-columns: repeat(4, 65px);
  grid-auto-rows: 65px;
  gap: 5px;
}

.calculator form input {
  border: 2px solid whitesmoke;
  cursor: pointer;
  font-size: 19px;
}

.calculator form input:hover {
  box-shadow: 1px 1px 2px whitesmoke;
}

.calculator form .clear {
  background-color: rgb(171, 26, 26);
  color: white;
}

.calculator form .operator {
  background-color: rgb(198, 88, 84);
  color: white;
}

.calculator form .dot {
  background-color: rgb(245, 158, 158);
  color: white;
}

.calculator form input[type="text"] {
  grid-column: span 4;
  text-align: right;
  padding: 0 10px;
}

.calculator form input.clear {
  grid-column: span 3;
}

.calculator form input.result {
  grid-column: span 2;
}
